spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/bendan?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT
    username: root
    password: mysql1234
    type: com.alibaba.druid.pool.DruidDataSource

    druid:
      initial-size: 5 #连接池初始化大小
      min-idle: 10 #最小空闲连接数
      max-active: 20 #最大连接数
      web-stat-filter:
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*" #不统计这些请求数据
      stat-view-servlet: #访问监控网页的登录用户名和密码
        login-username: druid
        login-password: druid
      maxWait: 60000
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      #   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      filters: stat,wall,slf4j
      maxPoolPreparedStatementPerConnectionSize: 20
      useGlobalDataSourceStat: true
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500





  redis:
    # Redis服务器地址
    host: 175.178.183.32
    # Redis数据库索引（默认为0）
    database: 1
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password:
    # 连接超时时间（毫秒）
    timeout: 3000ms


#扫描包并打印日志
mybatis-plus:
  mapper-locations: classpath:/mapper/admin/*.xml

  configuration:
    #    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    cache-enabled: true


#指定接口包扫描
springdoc.packagesToScan: com.obeast.bendan.controller
#或者指定访问接口路径扫描
#springdoc.pathsToMatch=/hs/**, /hsType/**

# swagger-ui custom path
springdoc.swagger-ui.path: /swagger-ui.html


#---en delete
#logging:
#  level:
#    root: warn
#    com.obeast: info
#  file:
#    name: log/bendan-pro.log

logging:
  level:
    com:
      obeast:
        debug
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: full


# swagger 配置
swagger:
  enabled: true
  title: bendan Swagger API
  gateway: http://${GATEWAY_HOST:127.0.0.1}:${GATEWAY-PORT:18814}
  token-url: ${swagger.gateway}/auth/oauth2/token
  scope: message.read
  services:
    agri-iot-admin: admin


security:
  resources:
    ignore:
      urls:
        - "/v3/api-docs"
        - "/swagger-ui/**"
        - "/swagger-ui.html"
        - "/swagger-resources/**"
        - "/swagger-config/**"
        - "/favicon.ico"
        - "/sysUser/login"
        - "/oauth2/**"