spring:

  servlet:
    multipart:
      enabled: true #开启文件上传
      max-file-size: 500MB #限制文件上传大小为500M
      max-request-size: 512MB

  cloud:
    nacos:
      discovery:
        server-addr: http://127.0.0.1:8848
      config:
        server-addr: http://127.0.0.1:8848
        file-extension: yaml
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/bendan?serverTimezone=Asia/Shanghai&rewriteBatchedStatements=true
    username: root
    password: mysql1234

    druid:
      initial-size: 5 #连接池初始化大小
      min-idle: 10 #最小空闲连接数
      max-active: 20 #最大连接数
      web-stat-filter:
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*" #不统计这些请求数据
      stat-view-servlet: #访问监控网页的登录用户名和密码
        login-username: druid
        login-password: druid
      maxWait: 60000
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      #   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      filters: stat,wall,slf4j
      maxPoolPreparedStatementPerConnectionSize: 20
      useGlobalDataSourceStat: true
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500



  redis:
    # Redis服务器地址
    #    host: 10.0.0.41
    host: 175.178.183.32
    # Redis数据库索引（默认为0）
    database: 13
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password:
    # 连接超时时间（毫秒）
    timeout: 3000ms

minio:
  externalAccess: http://175.178.183.32:42713
  endpoint: http://175.178.183.32:9000
  accessKey: minioroot
  secretKey: minioroot
  bucketName: bendan


logging:
  level:
    root: info
    com:
      obeast:
        debug
